[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pylint = "*"
flake8 = "*"
pydocstyle = "*"
black = "*"
mypy = "*"

[requires]
python_version = "3.8"
